<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>
          您的服务
        </h2>
      </div>
      <p>
      在您使用服务进行身份验证之前，您需要进行设置。 看看Huginn
        <%= link_to 'wiki', 'https://github.com/cantino/huginn/wiki/Configuring-OAuth-applications', target: :_blank %>
        的指导.
      </p>
      <%- Devise.omniauth_providers.each { |provider| -%>
        <p><%= omniauth_button(provider) %></p>
      <%- } -%>
      <hr>

      <div class='table-responsive'>
        <table class='table table-striped events'>
          <tr>
            <th><%= sortable_column '提供者', 'asc' %></th>
            <th><%= sortable_column '名称', 'asc' %></th>
            <th><%= sortable_column '全局', name: 'Global?' %></th>
            <th></th>
          </tr>

        <% @services.each do |service| %>
          <tr>
            <td><%= omniauth_provider_name(service.provider) %></td>
            <td><%= service.name %></td>
            <td><%= yes_no(service.global) %></td>
            <td>
              <div class="btn-group btn-group-xs">
                <% if service.global %>
                  <%= link_to '私密', toggle_availability_service_path(service), method: :post, data: { confirm: '您确定要删除其他用户对此服务的数据访问权限吗?'}, class: "btn btn-default" %>
                <% else %>
                   <%= link_to '全局', toggle_availability_service_path(service), method: :post, data: { confirm: '您确定要授予此系统上的每个用户访问此服务上的数据的权限?'}, class: "btn btn-default" %>
                <% end %>
                <%= link_to '公开', service_path(service), method: :delete, data: { confirm: '您确定吗?' }, class: "btn btn-default btn-danger" %>
              </div>
            </td>
          </tr>
        <% end %>
        </table>
      </div>

      <%= paginate @services, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>

