<div class='table-responsive'>
  <table class='table table-striped logs'>
    <tr>
      <th>消息</th>
      <th>时间</th>
      <th width="200px"></th>
    </tr>

    <% @logs.each do |log| %>
      <tr>
        <td><%= truncate log.message, :length => 200, :omission => "..." %></td>
        <td><%= time_ago_in_words log.created_at %> ago</td>

        <td>
          <div class="btn-group btn-group-xs">
            <% if log.inbound_event_id.present? %>
              <%= link_to '输入事件', event_path(log.inbound_event), class: "btn btn-default" %>
            <% else %>
              <%= link_to '输入事件', '#', class: "btn btn-default disabled" %>
            <% end %>

            <% if log.outbound_event_id.present? %>
              <%= link_to '输出事件', event_path(log.outbound_event), class: "btn btn-default" %>
            <% else %>
              <%= link_to '输出事件', '#', class: "btn btn-default disabled" %>
            <% end %>

            <%= link_to '详情', '#', :class => "btn btn-default show-log-details", :data => { :'modal-title' => log.level >= 4 ? 'Error' : 'Info', :'modal-content' => log.message } %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>