<% if @twitter_agent || @basecamp_agent %>
  <div class="alert alert-danger" role="alert">
    <p>
      <b>警告!</b> 您需要更新Huginn配置，以便您的代理继续使用新的OAuth服务.
    </p>
    <br/>
    <% if @twitter_agent %>
      <p>
      要完成<b> Twitter </ b>代理的迁移，您需要更新.env文件并添加以下两行:

        <pre>
TWITTER_OAUTH_KEY=<%= @twitter_oauth_key %>
TWITTER_OAUTH_SECRET=<%= @twitter_oauth_secret %>
        </pre>
        要使用您的Twitter OAuth应用程序验证新帐户，您需要登录到 <a href="https://apps.twitter.com/" target="_blank">Twitter应用程序管理页面</a>并设置应用程序的回调URL "http<%= ENV['FORCE_SSL'] == 'true' ? 's' : '' %>://<%= ENV['DOMAIN'] %>/auth/twitter/callback".

      </p>
    <% end %>
    <% if @basecamp_agent %>
      <p>
        
158/5000
您的<b> Basecamp </ b>代理无法自动迁移。 您需要使用37signals手动注册应用程序并验证Huginn以使用它.<br/>
看看这个： <%= link_to 'Wiki', 'https://github.com/cantino/huginn/wiki/Configuring-OAuth-applications', target: '_blank' %> 如果你需要帮助.
      </p>
    <% end %>
  </div>
<% end -%>