<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>您的代理</h2>
      </div>

      <%= render 'agents/table' %>

      <br/>

      <div class="btn-group">
        <%= link_to icon_tag('glyphicon-plus') + ' 新建代理', new_agent_path, class: "btn btn-default" %>
        <%= link_to icon_tag('glyphicon-refresh') + ' 运行事件链', propagate_agents_path, method: 'post', class: "btn btn-default" %>
        <%= link_to icon_tag('glyphicon-random') + ' 查看流程图', diagram_path, class: "btn btn-default" %>
        <%= link_to icon_tag('glyphicon-adjust') + toggle_disabled_text, toggle_visibility_agents_path, method: :put, class: "btn btn-default visibility-enabler" %>
      </div>
    </div>
  </div>
</div>
