<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>分享 <%= scenario_label(@scenario) %> 给全世界的人</h2>
      </div>

      <p>
        <strong>在分享场景前请确保场景中的任何机器人中不包含敏感数据!</strong>
      </p>

      <% if @scenario.public? %>
        <p>
          这是一个公开的场景.  您可以 <%= link_to "下载并分享导出的文件", export_scenario_path(@scenario, :format => :json) %>, or give out this URL:
        </p>

        <form onsubmit='return false;'>
          <input type='text' class='form-control' value='<%= export_scenario_url(@scenario, :format => :json) %>' onclick="return this.select();"/>
        </form>
      <% else %>
        这是一个公开的场景.  您可以通过 <%= link_to "下载并分享导出的文件", export_scenario_path(@scenario, :format => :json) %> 分享它.
      <% end %>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <%= link_to icon_tag('glyphicon-chevron-left') + ' 返回'.html_safe, scenario_path(@scenario), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
