<div class="row">
  <div class="page-header">
    <h2>
    导入公共场景
    </h2>
  </div>
</div>

<div class='row'>
  <blockquote>
您可以从<code> .json </ code>文件或通过公共导入方案
       场景URL。 导入场景时，Huginn会跟踪它的来源和位置
       稍后让你更新它.</blockquote>
</div>

<div class='row'>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :url, '选项1：提供公共场景URL' %>
      <%= f.text_field :url, :class => 'form-control', :placeholder => "公共场景URL" %>
    </div>

    <div class="form-group">
      <%= f.label :file, '选项2：上载场景JSON文件' %>
      <%= f.file_field :file, :class => 'form-control' %>
    </div>

    <div class='form-actions'>
      <%= f.submit "开始导入", :class => "btn btn-primary" %>
    </div>
  </div>
</div>